.home-page{
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.home-header-container{
    position: fixed;
    top: 0;
    height: 140px;
    width: 100%;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid lightgray;

}
.content-container{
    height: 100vh;
    width: 100%;
    margin: 40% auto;
    
}
.home-lax-container{
    position: relative;
    right: -2%;
    margin: 40px auto;
    width:100%;
    height: 300px;
    animation-name: entrance;
    animation-iteration-count: intial;
    animation-duration: 3000ms;
    
    
}
.home-why-container{
    height: 100vh;
    width: 100%;
    margin: -230px auto;
    animation-name: entrance;
    animation-iteration-count: initial;
    animation-duration: 4000ms;
}
#home-offer{
    margin: 250px auto;
    height: 100%;
    width: 100%;
    position: relative;
    right: -2%;
}

@media (min-width: 500px){
    .home-why-container{
        height: 100vh;
        width: 100%;
        margin: 20% auto;
        
    }
    .content-container{
        height: 100vh;
        width: 100%;
        margin: 10% auto;
        
        
    }
}

@keyframes entrance{
    0%{
        opacity: 0;
    }
    30%{
        opacity: .3;
    }
    100%{
        opacity: 1;
    }
}


