.ham-nav{
    height: 100%;
    width: 100%;
    margin: 0;
   
}
.ham-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
    line-height: 70px;
    margin-left: -18px;
    width: 100%;
    z-index: 2;
    
}
.bluey {
    height: 70px;
    width: 140px;
    
    background-color: white;;
    border: none;
    /* padding: 15px 32px; */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: #36454f;
    font-family: helvetic neue sans-serif;
    
    
}
.bluey:hover{
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    
}




label{
    font-size: 26px;
    line-height: 78px;
    display: none;
}
#toggle{
    display: none;
}



/* FOR MOBILE RESPONSIVE */
@media only screen and (max-width: 500px){
    .bar{
        height: 2px;
        width: 30px;
        background-color: #36454f;
        display: block;
        position: relative;
        top: 8px;
        margin: 4px;
        
    }
    
    label{
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }
    .ham-menu{
        position: relative;
        left:8.4%;
        width: 100%;
        display: none;
    }
    .ham-menu button:nth-child(2) {
        animation-delay: 100ms;
    }
    .ham-menu button:nth-child(3) {
        animation-delay: 200ms;
    }
    .ham-menu button:nth-child(4) {
        animation-delay: 300ms;
    }
    .ham-menu button:nth-child(5) {
        animation-delay: 400ms;
    }
    .ham-menu button{
        display: block;
        
        opacity: 0;
        animation: fadeIn 500ms ease-in both;
        
    }
    #toggle:checked + .ham-menu{
        display: block;
        
    }
}

/* MENU TO X */
#toggle:checked + bar {
    animation: barOpacity 250ms ease-out both;

}

@keyframes barOpacity{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
/* MOBILE MENU FADE IN */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

